<!-- extends Myinventoryapp/base_template.html -->
<!-- load static -->

<!-- block content -->
<div class="col-12">
    <table border="1">
        <thead>
            <th scope="col"> SKU </th>
            <th scope="col"> Brand </th>
            <th scope="col"> Cost </th>
            <th scope="col"> Size </th>
            <th scope="col"> Mouth Size </th>
            <th scope="col"> Color </th>
            <th scope="col"> Supplied By </th>
            <th scope="col"> Current Quantity </th>
        </thead>
    
        <tbody>
            {% for x in WaterBottle}
            <tr>
                <td> {{ x.sku }} </td>
                <td> {{ x.brandy }} </td>
                <td> {{ x.cost }} </td>
                <td> {{ x.size }} </td>
                <td> {{ x.mouth_size }} </td>
                <td> {{ x.color }} </td>
                <td> {{ x.supplied_by }} </td>
                <td> {{ x.current_quantity }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- endblock -->