/* Source: https://www.w3schools.com/howto/howto_css_image_text.asp */
.container{
    position: relative;
    text-align: center;
}

.GameExplain{
    color: white;
    font-family: fantasy;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background */
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    text-align: center;
}

.DungeonButton{
    color: white;
    font-family: fantasy;
    font-size: 30px;
    position: absolute;
    top: 65%;
    left: 37%;
}

.ForestButton{
    color: white;
    font-family: fantasy;
    font-size: 30px;
    position: absolute;
    top: 60%;
    right: 25%;
}

/* StartButton Color */
a {
    color: White;
    text-decoration: none;
}